.navbar {
    max-width: 250px;
    background-color: var(--primary-80);
    height: calc(100vh - 57px);
    overflow: auto;
    a {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        color: var(--white);
        &:hover {
            background-color: var(--white);
            color: var(--primary-80);
        }
    }
}